/* #body {
  background-color: rgb(46, 71, 109);
} */
#row .card {
  /* cursor: pointer; */
}
#row .card:hover {
  background: #b8b6c4;
  color: white;
}
#cryptoContainer {
  padding-top: 30px;
  max-height: 50vh;
  overflow: auto;
}
.star:hover {
  cursor: pointer;
  color: gold !important;
}
.starActive {
  color: gold !important;
}
