/* #body {
  background-color: rgb(46, 71, 109);
} */

#row .card:hover {
  background: #b8b6c4;
  color: white;
}
#cryptoContainer {
  padding-top: 30px;
  max-height: 50vh;
  overflow: auto;
}
.star:hover {
  cursor: pointer;
  font-size: 23px !important;
}
.starActive {
  font-size: 23px !important;
  color: gold !important;
}
#linkMore {
  text-decoration: none;
}
.modal {
  position: absolute;
  top: 10px;
  /* right: 50px; */
  bottom: 0;
  left: 0;
  z-index: 10040;
  /* width: 1500px !important; */
  overflow: auto;
  overflow-y: auto;
}
#leaderModal {
  position: absolute;
  top: 10px;
  /* right: 50px; */
  bottom: 0;
  left: 0;
  z-index: 10040;
  /* width: 1500px !important; */
  /* overflow: auto;
  overflow-y: auto; */
}
.modal-lg-content {
  max-height: 60vh;
}
.modal-body {
  max-height: 80vh;
  overflow: auto;
}
/* #leaderModal .modal-body {
  max-height: 50vh;
} */
.modal-header {
  justify-content: start;
}
.card-leader {
  cursor: pointer;
  /* max-width: 200px !important; */
}
#d-image {
  margin-top: -5px;
}
#bgPro {
  background-color: #16c784;
}
#divProBox {
  margin-top: 6px;
}
#iconC {
  cursor: pointer;
  font-size: 25px !important;
}
#website {
  background-color: rgb(199, 199, 199);
}
#proBoxSmall {
  font-size: 12px !important;
}
#gainersTable,
#losersTable,
#modalTable {
  cursor: pointer;
}
/* #searchBoxZ {
  z-index: 10 !important;
}
#zIndexboxx {
  z-index: 20 !important;
  margin-top: 35px;
} */
#zIndexSearch {
  z-index: 10;
  /* max-height: 50vh; */
  /* overflow: auto; */
}
#searchBoxContainer {
  max-height: 20vh;
  overflow: auto;
  width: 58% !important;
  margin-top: -16px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
#watchListText {
  margin-top: 10px;
}
