/* #body {
  background-color: rgb(46, 71, 109);
} */
#row .card {
  /* cursor: pointer; */
}
#row .card:hover {
  background: #b8b6c4;
  color: white;
}
#cryptoContainer {
  padding-top: 30px;
  max-height: 50vh;
  overflow: auto;
}
.star:hover {
  cursor: pointer;
  font-size: 23px !important;
}
.starActive {
  font-size: 23px !important;
  color: gold !important;
}
#linkMore {
  text-decoration: none;
}
.modal {
  position: absolute;
  top: 10px;
  right: 50px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.modal-body {
  max-height: 40vh;
  overflow: auto;
}
.modal-header {
  justify-content: start;
}
.card-leader {
  cursor: pointer;
}
#d-image {
  margin-top: -5px;
}
#bgPro {
  background-color: #16c784;
}
#divProBox {
  margin-top: 6px;
}
